@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

:root{
    --green: #c08d1e;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: rgb(196, 196, 196);
    color:var(--green);
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: .5rem;
}

.btn:hover{
    color: #eee;
    background: var(--green);
   letter-spacing: .2rem;
}

html::-webkit-scrollbar{
    width: .7rem;
}

html::-webkit-scrollbar-track{
    background: #fff;
}

html::-webkit-scrollbar-thumb{
    background: var(--green);
    border-radius: 5rem;
}

body{
    background: rgb(59, 57, 57);
    padding-right: 5rem;
}

section{
    padding: 2rem 9%;
    min-height: 100vh;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.heading span{
    text-transform: uppercase;
    color: var(--green);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 1000;
}

header.active{
    left: 0;
}

header .navbar{
    writing-mode: vertical-lr;
    padding: 1.5rem;
}

header .navbar a{
    padding: 1.5rem;
    font-size: 2rem;
    color: #222;
}

header .navbar a:hover{
    color: var(--green);
}

#menu-bars{
    position: fixed;
    z-index: 10000;
    top: 1rem;
    left:1rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #particles-js{
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home .content{
    text-align: center;
    position: relative;
    z-index: 1;
}

.home .content img{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1rem solid var(--green);
}

.home .content h3{
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
}

.home .content h3 span{
    color: var(--green);
    text-transform: uppercase;
}

.home .content p{
    color: rgb(224, 221, 221);
    font-size: 2.5rem;
    line-height: 2;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image{
    text-align: center;
    flex: 1 1 25rem;
}

.about .row .image img{
    width: 30rem;
    border-radius: .5rem;
    border: 1rem solid var(--green);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row .content{
    flex: 1 1 55rem;
}

.about .row .content h3{
    color: #fff;
    font-size: 4rem;
}

.about .row .content h3 span{
    color: var(--green);
}

.about .row .content .info{
    color: #fff;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 2;
}

.about .row .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}

.about .row .content .box-container .box{
    flex: 1 1 20rem;
}

.about .row .content .box-container .box p{
    font-size: 1.7rem;
    color: #eee;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .box-container .box p span{
    color: var(--green);
}

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 2rem;
    text-align: center;
}

.services .box-container .box i{
    color: var(--green);
    font-size: 5rem;
    padding: 1rem 0;
}

.services .box-container .box h3{
    color: #222;
    font-size: 2.5rem;
    padding-top: 1rem ;
}

.services .box-container .box p{
    color: #333;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 2;
}

.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.portfolio .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
    overflow: hidden;
    height: 25rem;
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box .content{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:-100%;
    background: #fff9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .box-container .box:hover .content{
    left: 0;
}

.blogs .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.blogs .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 2rem;
}

.blogs .box-container .box img{
    height: 20rem;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.blogs .box-container .box h3{
    color:var(--green);
    font-size: 2.5rem;
    padding: .5rem 0;
}

.blogs .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding: .5rem 0;
}

.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .image{
    flex: 1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 1rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form .inputBox input,
.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border-radius: .5rem;
    font-size: 1.7rem;
    color: #333;
    padding: 1rem;
    margin: 1rem 0;
    border: .1rem solid rgba(0,0,0,.1);
    text-transform: none;
}

.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--green);
}

.contact .row form .inputBox input{
    width: 49%;
}

.contact .row form textarea{
    height: 20rem;
    resize: none;
}

.contact .row form .btn{
    margin: .5rem 0;
}

.footer{
    padding: 2.5rem;
    font-size: 2rem;
    color: #eee;
    background: #333;
    text-align: center;
}

.footer span{
    color: var(--green);
}































@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }

    section{
        padding: 2rem;
    }

    header{
        width: 100%;
        left: -120%;
    }

    #menu-bars{
        display: initial;
    }

    header .navbar{
        writing-mode: horizontal-tb;
    }

    header .navbar a{
        display: block;
        font-size: 3rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

    .contact .row form .inputBox input{
        width: 100%;
    }
}